# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

# IDE
.idea/
*.iml
*.ipr
*.iws
.classpath
.project
.settings/
*.launch

# OS
.DS_Store
Thumbs.db

.agents
.opencode
AGENTS.md
